.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    
     
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color:linear-gradient(to right, #9C27B0, #E040FB);
    margin-top:50px;
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:linear-gradient(to right, #9C27B0, #E040FB);
    
  }
  
  
  
  /* Style the image inside the centered container, if needed */
   img {
    
    width: 75px;
    border-radius: 50%;
  }
  .card-containered {
    display: flex;
    flex-direction: column;
    background-color:white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0px;
    margin-top: 50px;
    margin-bottom:-2rem;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    
  }
  .popup{
      text-align: center;
  }

  .pop-cont{
    background-color:#8C55AA ;
  }
  .modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }


  .card-text-headered{
    font-size: 15px;
    font-family: 'Arial';
    color: white;
    text-align: left;
    margin-left: 10px;
  
  }

  .submiteded {
    cursor: pointer;
    
    color: black;
    background: white;
    border: solid yellow;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 13px;
    
    align-items: center;
    
    }
    
  .img-align{
    align-items: flex-start;
  }
    .card-headered{
      background-color: royalblue;
    }
    .card-texted{
      font-size: 25;
      font-family: 'Staatliches';
      color: black;
      text-align: left;
    }
    .card-footed{
      border-top: 1px solid royalblue;
      margin-left: 5px;
      margin-right: 5px;
      
      background-color: white;
    }
.divide{
  border-left:3px solid royalblue;
  }