.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    
     
  
  
  /* Control the left side */
  &.left {
    left: 0;
    background-color:linear-gradient(to right, #9C27B0, #E040FB);
    margin-top:50px;
    
  }
  
  /* Control the right side */
  &.right {
    right: 0;
    background-color:linear-gradient(to right, #9C27B0, #E040FB);
    
  }

  
  
  /* Style the image inside the centered container, if needed */
   img {
    
    width: 75px;
    border-radius: 50%;
  }

  .card-containered {
    display: flex;
    flex-direction: column;
    background-color:white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0px;
    margin-top: 50px;
    margin-bottom:-2rem;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    
  }
  .popup{
      text-align: center;
  }

  .pop-cont{
    background-color:#8C55AA ;
  }
  

  .card-text-headered{
    font-size: 16px;
    font-family: "Muli", "sans-serif";
    color: white;
    text-align: left;
    margin-left: 10px;
  
  }

  .submiteded {
    cursor: pointer;
    
    color: black;
    background: white;
    border: 1.5px solid yellow;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 13px;
    
    align-items: right;
    
    }
    
  .img-align{
    align-items: flex-start;
  }
    .card-headered{
      background-color: royalblue;
    }
   
    .card-footed{
      border-top: 1px solid royalblue;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 50%;
      align-content: flex-end;
      background-color: white;
    }
.divide{
  border-left:3px solid royalblue;
  }

  .check{
    text-align: center;
    border-top: 1px solid royalblue;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    font-family: "Muli", "sans-serif"; 
    
    margin-left: 150px;
    margin-right: 150px;   ;
  
  
  
  .alaign{
    text-align:start;
    margin-left: 70px;
  }
  .text-bod{
    border: white;
  }
 
}
  }
