.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;

  &.left {
    left: 0;
    background-color:linear-gradient(to right, #9C27B0, #E040FB);
    margin-top:50px; 
  }
  &.right {
    right: 0;
    background-color:linear-gradient(to right, #9C27B0, #E040FB);
  }
   img {
    width: 75px;
    border-radius: 50%;
  }
  .card-containered {
    display: flex;
    flex-direction: column;
    background-color:white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0px;
    margin-top: 50px;
    margin-bottom:-2rem;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  .popup{
      text-align: center;
  }
  .pop-cont{
    background-color:#8C55AA ;
  }
  .card-text-headered{
    font-size: 16px;
    font-family: "Muli", "sans-serif";
    color: white;
    text-align: left;
    margin-left: 10px;
  }
  .submiteded {
    cursor: pointer;
    color: black;
    background: white;
    border: 1.5px solid yellow;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 13px;
    align-items: right;
    }
  .img-align{
    align-items: flex-start;
  }
    .card-headered{
      background-color: royalblue;
    }
   
    .card-footed{
      border-top: 1px solid royalblue;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 50%;
      align-content: flex-end;
      background-color: white;
    }
.divide{
 
  padding-top: 50px;
  padding-bottom: 50px;
  }

  .check{
    text-align: center;
    border-top: 1px solid royalblue;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    font-family: "Muli", "sans-serif"; 
    
    margin-left: 150px;
    margin-right: 150px;   
  .alaign{
    text-align:start;
    margin-left: 70px;
  }
}
.left-card{
  display: flex;
  flex-direction: column;
  background-color:white;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom:-2rem;
  margin-right: 25px;
  margin-left: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.maindiv{
  margin-top: 50px;
}
  .box-true{
    
    border-bottom: 1px solid grey;
    margin-left: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 25px;
    font-size:16px;
  }
  .box-false{
    margin-left: 25px;
    padding-top: 0.001em;
    padding-bottom: 0.001em;
    margin-right: 25px;
    font-size:16px;
    background-color: grey;
  }
  .marg{
    margin-top: 10px;
  }
  .marg2{
    margin-top: -2.5rem;
  }
  .align{
    float: right;
  }
  .buttrue{
    border-color: white;
  }
  .butfalse{
    border-color: black;
  }
  
}
  
