.cargotext{
    
    padding-bottom: 7px;
    font-size: 10px;
    color: rgba(116,116,116,255);
}
.cargdate1{
    height:27px;
    width:125px;
    margin-right: 1px;
    border-left: 2px solid rgba(122,122,122,255) ;
    border-top: 2px solid rgba(122,122,122,255) ;
    border-right: 1px solid rgba(122,122,122,255) ;
    border-bottom: 1px solid rgba(122,122,122,255) ;
    background-color: white;
}
.reqcold{
    color: red;
    padding-left: 2px;
}