.h4left{ 

     display: grid;
     grid-template-columns: auto auto;
}
.h4right{
    margin-left: 100px;
    width: 200px; 
    height: 100px; 
    
     display: inline-block;
}
.cargtext{
    padding-top: 20px;
    padding-bottom: 7px;
    font-size: 10px;
    color: rgba(116,116,116,255);
}
.cargmain{

    margin-left: 55px;
    margin-right: 45px;

}
.reqcol{
    color: red;
}
.submitf{
    margin-top: 5%;
}